index.html* linguist-vendored
about.html* linguist-vendored
contact.html* linguist-vendored
famous.html* linguist-vendored
gallery.html* linguist-vendored
json.html* linguist-vendored
products.html* linguist-vendored
services.html* linguist-vendored
story.html* linguist-vendored
$ cat .gitattributes
*.rb linguist-language=Javascript
